<h2>新しいティアリストの作成</h2>

<%= form_with(model: @tier_list, local: true) do |f| %>
  <div>
    <%= f.label :name, "ティアリスト名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "作成する" %>
  </div>
<% end %>
