<header class="app-header">
  <div class="logo-area">
    <%= link_to root_path do %>
      <%= image_tag("choresTireロゴ(背景透明).png", alt: "ChoreTiers", class: "logo") %>
    <% end %>
  </div>
  <div class="user-area">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" %>
    <% end %>
  </div>
</header>
